<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

    <p>Aca year: {{.AcaYear}}</p>
    <div>
         <p>Term: {{.Fall.Term}}<p>
         <p>Courses</p>
         <ul>
            {{range .Fall.Courses}}
                <li>Number: {{.Number}}, Name: {{.Name}}, Units: {{.Units}}</li>
            {{end}}
         </ul>
    </div>

    <div>
        <p>Term: {{.Spring.Term}}</p>   
        <p>Courses:</p>
        <ul>
            {{range .Spring.Courses}}
                <li>Number: {{.Number}}, Name: {{.Name}}, Units: {{.Units}}</li>
            {{end}}
        </ul>
    </div> 
{{end}}

</body>
</html>